//nclude "wx/msw/wx.rc"

bmp_about       BITMAP "bitmaps/about.bmp"
bmp_add         BITMAP "bitmaps/add.bmp"
bmp_addbook     BITMAP "bitmaps/addbook.bmp"
bmp_addsrc      BITMAP "bitmaps/addsrc.bmp"
bmp_arricon     BITMAP "bitmaps/arricon.bmp"
bmp_bughlp      BITMAP "bitmaps/bughlp.bmp"
bmp_close       BITMAP "bitmaps/close.bmp"
bmp_closefl     BITMAP "bitmaps/closefl.bmp"
bmp_clrhist     BITMAP "bitmaps/clrhist.bmp"
bmp_clsall      BITMAP "bitmaps/clsall.bmp"

bmp_compile     BITMAP "bitmaps/compile.bmp"
bmp_compopt     BITMAP "bitmaps/compopt.bmp"
bmp_compres     BITMAP "bitmaps/compres.bmp"    
bmp_comprun     BITMAP "bitmaps/comprun.bmp"
bmp_copy        BITMAP "bitmaps/copy.bmp"
bmp_cut         BITMAP "bitmaps/cut.bmp" 
bmp_debug       BITMAP "bitmaps/debug.bmp"
bmp_dos         BITMAP "bitmaps/dos.bmp"
bmp_empty       BITMAP "bitmaps/empty.bmp" 
bmp_envopt      BITMAP "bitmaps/envopt.bmp"

bmp_explor      BITMAP "bitmaps/explor.bmp"
bmp_export      BITMAP "bitmaps/export.bmp"
bmp_gobook      BITMAP "bitmaps/gobook.bmp"    
bmp_goto        BITMAP "bitmaps/goto.bmp"
bmp_help        BITMAP "bitmaps/help.bmp"
bmp_homepg      BITMAP "bitmaps/homepg.bmp" 
bmp_icon        BITMAP "bitmaps/icon.bmp"
bmp_insert      BITMAP "bitmaps/insert.bmp"
bmp_makefl      BITMAP "bitmaps/makefl.bmp" 
bmp_minall      BITMAP "bitmaps/minall.bmp" 

bmp_newproj     BITMAP "bitmaps/newproj.bmp" 
bmp_newsrc      BITMAP "bitmaps/newsrc.bmp" 
bmp_newtemp     BITMAP "bitmaps/newtemp.bmp" 
bmp_next        BITMAP "bitmaps/next.bmp" 
bmp_opnproj     BITMAP "bitmaps/opnproj.bmp" 
bmp_package     BITMAP "bitmaps/package.bmp" 
bmp_packman     BITMAP "bitmaps/packman.bmp" 
bmp_paste       BITMAP "bitmaps/paste.bmp" 
bmp_prev        BITMAP "bitmaps/prev.bmp" 
bmp_print       BITMAP "bitmaps/print.bmp" 

bmp_projopt     BITMAP "bitmaps/projopt.bmp" 
bmp_rebuild     BITMAP "bitmaps/rebuild.bmp" 
bmp_redo        BITMAP "bitmaps/redo.bmp" 
bmp_remsrc      BITMAP "bitmaps/remsrc.bmp" 
bmp_reopen      BITMAP "bitmaps/reopen.bmp" 
bmp_resrc       BITMAP "bitmaps/resrc.bmp" 
bmp_run         BITMAP "bitmaps/run.bmp" 
bmp_save        BITMAP "bitmaps/save.bmp" 
bmp_saveall     BITMAP "bitmaps/saveall.bmp" 
bmp_saveas      BITMAP "bitmaps/saveas.bmp" 

bmp_screen      BITMAP "bitmaps/screen.bmp" 
bmp_search      BITMAP "bitmaps/search.bmp" 
bmp_srcagain    BITMAP "bitmaps/srcagain.bmp" 
bmp_srchrep     BITMAP "bitmaps/srchrep.bmp" 
bmp_temphlp     BITMAP "bitmaps/temphlp.bmp" 
bmp_tile        BITMAP "bitmaps/tile.bmp" 
bmp_toolbar     BITMAP "bitmaps/toolbar.bmp" 
bmp_tools       BITMAP "bitmaps/tools.bmp" 
bmp_tutor       BITMAP "bitmaps/tutor.bmp" 
bmp_undo        BITMAP "bitmaps/undo.bmp" 
bmp_update      BITMAP "bitmaps/update.bmp"

//bmp_fbide       BITMAP "bitmaps/fbide.bmp"

wxBITMAP_STD_COLOURS BITMAP "bitmaps/colours.bmp"

